{% extends "base.html" %}{% load staticfiles %}

{% block title %} Homepage {{ block.super }}{% endblock %}

{% block content %}
    <h1>Hello, world!</h1>
    <p>Everything works fine, dude!</p>
{% endblock %}
