{% load staticfiles %}<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}| EpiHub{% endblock title %}</title>

    {% block css %}
        <!-- Your stuff: Third-party css libraries go here -->
        <link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet" type="text/css">

        <!-- This file store project specific CSS -->
        <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76045223-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>

{% include 'header.html' %}

{% block container %}
    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}

    </div> <!-- /container -->
{% endblock %}

{% block modal %}{% endblock modal %}

{# {% include 'footer.html' %} #}

{% block javascript %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
</body>
</html>
